//About Section
.thumb2-wrap {
	.thumb2-inne {
		display: flex;
		align-items: center;
		gap: 52px;
		.thumb-small {
			max-width: 300px;
			img {
				width: 100%;
			}
		}
		.about-textcircle {
			.boxes {
				padding-top: 20px;
				.exprience {
					font-family: $heading-font;
					font-size: 70px;
					font-weight: 300;
					color: $theme-color;
					margin-bottom: 24px;
					.year {
						font-size: 20px;
						font-family: $body-font;
						color: #070a01;
						opacity: 0.52;
						margin-bottom: -20px;
					}
				}
			}
		}
		@include breakpoint(max-xxl) {
			gap: 24px;
		}
		@include breakpoint(max-sm) {
			flex-wrap: wrap;
			.thumb-small {
				max-width: 100%;
				width: 100%;
				img {
					width: 100%;
				}
			}
			.about-textcircle {
				margin: 0 auto;
			}
		}
	}
}
.about-shape-left {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}
.about-shape-right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}
//About Section

//About Section2
.about-section2 {
	z-index: 1;
	.container {
		max-width: 1424px;
		margin: 0 auto;
	}
	.about-ele1 {
		position: absolute;
		right: -10px;
		top: -70px;
		z-index: -1;
	}
	.about-ele2 {
		position: absolute;
		bottom: 20px;
		left: -50px;
		z-index: -1;
	}
}
.about-content2 {
	z-index: 1;
	.about-insurance-area {
		display: flex;
		gap: 70px;
		.about-insurance-list {
			.about-insurance-item {
				.icon {
					width: 60px;
					min-width: 60px;
					height: 60px;
				}
				h4 {
					text-wrap: nowrap;
				}
				p {
					max-width: 140px;
					line-height: 16px;
				}
			}
		}
		.about2-small-thumb {
			width: 450px;
			border-radius: 12px;
			img {
				width: 100%;
				border-radius: 12px;
			}
		}
		@include breakpoint(max-xxl) {
			gap: 24px;
			.about-insurance-list {
				.about-insurance-item {
					.icon {
						width: 50px;
						min-width: 50px;
						height: 50px;
					}
					h4 {
						text-wrap: nowrap;
					}
					p {
						max-width: 140px;
						line-height: 16px;
					}
				}
			}
			.about2-small-thumb {
				width: 450px;
				border-radius: 12px;
				img {
					width: 100%;
					border-radius: 12px;
				}
			}
		}
		@include breakpoint(max-xs) {
			flex-wrap: wrap;
			.about2-small-thumb {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
	}
}
//About Section2

//About Section3
.about-section3 {
	z-index: 1;
	.about-birds-left {
		position: absolute;
		top: 144px;
		left: 0;
		animation: updowns 2s linear infinite;
	}
	.about-shadow-right {
		position: absolute;
		right: 0;
		bottom: 120px;
		z-index: -1;
		@include breakpoint(max-xl) {
			opacity: 0.4;
		}
	}
}
//About Section3

//About Section 4
.about-wrapper4 {
	display: flex;
	align-items: center;
	gap: 24px;
	justify-content: space-between;
	.about-content-version3 {
		max-width: 530px;
		.theme-btn{
			background: $bg-color;
			color: $black;
			&:hover{
				color: $white;
			}
		}
	}
	.line{
		width: 2px;
		height: 400px;
		background: #D9D9D9;
	}
	.about-thumbv4 {
		max-width: 520px;
		img{
			width: 100%;
		}
	}
	@include breakpoint(max-lg){
		flex-wrap: wrap;
		.line{
			display: none;
		}
		.about-thumbv4{
			margin: 0 auto;
		}
		.about-content-version3{
			order: 1;
			text-align: center;
			margin: 0 auto;
		}
	}
}
