.hero-1 {
	padding: 245px 0 160px;
	position: relative;
	z-index: 1;
	.hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
		transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
		transition: transform 9000ms ease, opacity 1500ms ease-in;
		transition: transform 9000ms ease, opacity 1500ms ease-in,
			-webkit-transform 9000ms ease;

		&::before {
			@include before;
			background: linear-gradient(
				0deg,
				#212121 0.05%,
				rgba(33, 33, 33, 0.64) 36.5%,
				rgba(33, 33, 33, 0.55) 46.41%,
				rgba(33, 33, 33, 0.41) 59.91%,
				rgba(33, 33, 33, 0.21) 79.1%
			);
		}
	}
	.hero-slide-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 99;
		.common-slide-btn {
			width: 60px;
			height: 120px;
			background: $white;
			transition: all 0.4s;
			i {
				color: $black;
				font-size: 24px;
			}
			&:hover {
				background: $theme-color;
			}
		}
	}
	.hero-content {
		position: relative;
		opacity: 0;
		z-index: 3;
		transform: translateY(-150px);
		.hero-btn-adjust {
			display: flex;
			align-items: center;
			gap: 30px;
			justify-content: center;
		}
		.room {
			display: flex;
			align-items: center;
			gap: 14px;
			color: $white;
			font-size: 20px;
			font-weight: 600;
		}
	}
	@include breakpoint(max-xl) {
		padding: 180px 0 120px;
		.hero-content {
			.hero-btn-adjust {
				display: flex;
				align-items: center;
				gap: 20px;
				justify-content: center;
			}
			h1 {
				font-size: 58px;
			}
		}
	}
	@include breakpoint(max-md) {
		padding: 145px 0 90px;
		.hero-content {
			.hero-btn-adjust {
				display: flex;
				align-items: center;
				gap: 20px;
				justify-content: center;
			}
			h1 {
				font-size: 44px;
			}
		}
		.hero-slide-btn {
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.common-slide-btn {
				width: 40px;
				height: 80px;
				background: $white;
				transition: all 0.4s;
				i {
					color: $black;
					font-size: 24px;
				}
				&:hover {
					background: $theme-color;
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		padding: 145px 0 155px;
		.hero-content {
			.hero-btn-adjust {
				display: flex;
				align-items: center;
				gap: 14px;
				justify-content: center;
			}
			h1 {
				font-size: 38px;
				line-height: 48px;
			}
			.theme-btn{
				padding: 14px 19px;
			}
			.room{
				font-size: 18px;
				.right-arrow{
					width: 60px;
					object-fit: contain;
				}
			}
		}
		.hero-slide-btn {
			top: initial;
			bottom: 20px;
			transform: translateY(-0%);
			width: 100%;
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: center;
			.common-slide-btn {
				width: 40px;
				height: 60px;
				background: $white;
				transition: all 0.4s;
				i {
					color: $black;
					font-size: 24px;
				}
				&:hover {
					background: $theme-color;
				}
			}
		}
	}
}
.hero-section {
	.swiper-slide.swiper-slide-active {
		.hero-bg {
			-webkit-transform: scale(1.35);
			transform: scale(1.35);
		}

		.hero-content {
			opacity: 1;
			transform: translateY(0px);
			transition: all 2500ms ease;
		}

		.hero-button {
			opacity: 1;
			transform: translateY(0px);
			transition: all 2500ms ease;
		}
	}
}

//Header White Area
.white-variation {
	.header-right {
		.mean__menu-wrapper {
			.main-menu {
				ul {
					li {
						a {
							color: $white;
							&:hover {
								color: $theme-color;
							}
						}
					}
				}
			}
		}
	}
}
//Header White Area
