//Rooms Section
.aprtment-rooms4 {
	.apartment-cont {
		background: $white !important;
		.theme-btn {
			border: 1px solid $black !important;
			color: $black;
			&:hover {
				color: $white;
			}
		}
		.apartment-cont-inner {
			.invirment {
				li {
					font-size: 20px;
					font-weight: 500;
					img {
						filter: brightness(0);
					}
				}
			}
		}
	}
	&.aprtment-rooms-small {
		.apartment-cont {
			width: 94%;
            bottom: 18px;
			.theme-btn {
				font-size: 14px;
                text-wrap: nowrap;
			}
			.apartment-cont-inner {
				.invirment {
					li {
						span{
                            font-size: 12px;
                        }
						font-weight: 500;
						img {
                            width: 18px;
							filter: brightness(0);
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		display: grid !important;
		.apartment-cont {
			position: initial !important;
		}
	}
}
//Rooms Section


//drining Section
.dining-room-section{
    .room-head-area{
        .drink-dining-pra{
            max-width: 349px;
        }
    }
}

.offer-room-item{
    z-index: 1;
    .content{
        position: absolute;
        .offer-title{
            background: $white;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            padding: 21px 5px 0;
            text-align: center;
            margin: 0 auto 14px;
            span{
              line-height: 14px;  
            }
        }
        .theme-btn{
            border: 1px solid $white;
            &:hover{
                border-color: $theme-color;
                color: $black;
            }
        }
    }
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 15px;
        background: radial-gradient(51.84% 51.84% at 50% 51.84%, rgba(0, 0, 0, 0.70) 34.5%, rgba(0, 0, 0, 0.90) 78.5%);
    }
    &:hover{
        .content{
            .offer-title{
                background: $bg-color;
            }
        }
    }
}