//Testimonial
.testimonial-items1 {
	position: relative;
	&::before {
		top: 50px;
		position: absolute;
		width: 100%;
		height: 1px;
		content: "";
		background: $theme-color;
		z-index: -1;
		opacity: 0.3;
	}
	.text-pra {
		font-size: 36px;
		line-height: 133%;
		margin-bottom: 36px;
	}
	.quote-opa {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@include breakpoint(max-xxl) {
		.text-pra {
			font-size: 24px;
			line-height: 133%;
			margin-bottom: 30px;
		}
		.quote-opa {
			width: 150px;
		}
	}
	@include breakpoint(max-sm) {
		.text-pra {
			font-size: 19px;
			line-height: 133%;
			margin-bottom: 22px;
		}
		.quote-opa {
			width: 150px;
		}
		.quotes {
			width: 30px;
		}
	}
}
.testimonial-btngrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	.array-prev {
		margin-left: -150px;
	}
	.array-next {
		margin-right: -150px;
	}
	.common-slide-btn {
		width: 80px;
		height: 80px;
		border: 1px solid $theme-color;
		i {
			font-size: 29px;
			color: $black;
		}
		&:hover {
			background: $theme-color;
			i {
				color: $black;
			}
		}
	}
	@include breakpoint(max-xxxl) {
		.array-prev {
			margin-left: -0px;
		}
		.array-next {
			margin-right: -0px;
		}
		justify-content: center;
		align-items: center;
		width: 100%;
		position: initial;
		gap: 16px;
		top: 0;
		transform: translateY(-0);
		margin-top: 40px;
		.common-slide-btn {
			width: 60px;
			height: 60px;
			i {
				font-size: 22px;
			}
		}
	}
	@include breakpoint(max-sm) {
		margin-top: 20px;
	}
}
//Testimonial

//Common Testimonial Btn
.common-slide-btn {
	transition: all 0.4s;
	i {
		transition: all 0.4s;
	}
}
.swiper-pagination-total {
	color: $black;
}
//Common Testimonial Btn

//Apartment Testimonial
.apartment-section {
	.common-right {
		@include breakpoint(max-xl) {
			img {
				width: 30px;
			}
		}
	}
}
.apartment-item {
	position: relative;
	display: flex;
	justify-content: center;
	.apartment-cont {
		position: absolute;
		bottom: 60px;
		width: 80%;
		background: $black;
		padding: 28px 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.theme-btn {
			border: 1px solid $white;
		}
		.apartment-cont-inner {
			display: flex;
			gap: 70px;
		}
	}
	@include breakpoint(max-xl4) {
		.apartment-cont {
			position: absolute;
			bottom: 40px;
			width: 90%;
			background: $black;
			padding: 24px 24px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.theme-btn {
				border: 1px solid $white;
			}
			.apartment-cont-inner {
				display: flex;
				gap: 30px;
			}
		}
	}
	@include breakpoint(max-xxl) {
		.apartment-cont {
			position: absolute;
			bottom: 40px;
			width: 90%;
			background: $black;
			padding: 24px 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 16px 20px;
			flex-wrap: wrap;
			.theme-btn {
				border: 1px solid $white;
			}
			.apartment-cont-inner {
				display: flex;
				gap: 16px 20px;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}
	@include breakpoint(max-md) {
		.mimg {
			height: 500px;
		}
	}
	@include breakpoint(max-sm) {
		.apartment-cont {
			bottom: 0px;
			width: 100%;
			background: $black;
			padding: 16px 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px 20px;
			flex-wrap: wrap;
			.theme-btn {
				border: 1px solid $white;
			}
			.apartment-cont-inner {
				display: flex;
				gap: 14px 20px;
				flex-wrap: wrap;
				justify-content: center;
				.invirment {
					li {
						img {
							width: 20px;
						}
						span {
							font-size: 14px;
						}
					}
				}
			}
		}
		.mimg {
			height: 350px;
			object-fit: cover;
		}
	}
}
//Apartment Testimonial

//Testimonial Section2
.testimonial-section2 {
	.container {
		max-width: 1703px;
		margin: 0 auto;
	}
	&.testimonial-style3{
		.testimonil-spce-wrapper2{
			.testimonial-slider{
				.testimonial-items1{
					p{
						color: $black !important;
					}
					.quote1{
						filter: brightness(0);
					}
				}
			}
			.testimonial-btngrap2{
				button{
					border-color: $black;
					i{
						color: $black;
					}
					&:hover{
						border-color: $theme-color;
						i{
							color: $white;
						}
					}
				}
			}
		}
	}
	.testimonial-slider {
		max-width: 1405px;
		margin-left: auto;
		.testimonial-items1 {
			display: flex;
			align-items: center;
			gap: 80px;
			&::before {
				display: none;
			}
			.content-area {
				display: flex;
				gap: 10px;
				p {
					font-size: 34px;
					line-height: 132%;
				}
				.quote1 {
					margin-top: -30px;
					width: 47px;
					height: 47px;
					object-fit: contain;
					filter: brightness(25);
				}
			}
		}
	}
	.testimonial-btngrap2 {
		display: grid;
		gap: 50px;
		button {
			width: 78px;
			height: 78px;
			border-radius: 50%;
			border: 1px solid $white;
			i {
				color: $white;
				font-size: 29px;
			}
			&:hover {
				background: $theme-color;
				border-color: $theme-color;
			}
		}
	}
	@include breakpoint(max-xxl) {
		.testimonil-spce-wrapper2 {
			display: grid;
			flex-wrap: wrap;
			justify-content: center;
		}
		.testimonial-slider {
			.testimonial-items1 {
				display: flex;
				align-items: center;
				gap: 30px;
				.content-area {
					display: flex;
					gap: 10px;
					p {
						font-size: 34px;
						line-height: 132%;
					}
					.quote1 {
						margin-top: -30px;
						width: 47px;
						height: 47px;
						object-fit: contain;
						filter: brightness(25);
					}
				}
			}
		}
		.testimonial-btngrap2 {
			display: flex;
			gap: 18px;
			justify-content: center;
			order: 1;
			margin: 0 auto;
			button {
				width: 48px;
				height: 48px;
				border-radius: 50%;
				border: 1px solid $white;
				i {
					color: $white;
					font-size: 18px;
				}
				&:hover {
					background: $theme-color;
					border-color: $theme-color;
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		.testimonil-spce-wrapper2 {
			display: grid;
			flex-wrap: wrap;
			justify-content: center;
		}
		.testimonial-slider {
			.testimonial-items1 {
				display: flex;
				align-items: center;
				gap: 30px;
				.content-area {
					display: flex;
					gap: 10px;
					p {
						font-size: 26px;
						line-height: 132%;
					}
					.quote1 {
						margin-top: -30px;
						width: 47px;
						height: 47px;
						object-fit: contain;
						filter: brightness(25);
					}
				}
			}
		}
		.testimonial-btngrap2 {
			display: flex;
			gap: 18px;
			justify-content: center;
			order: 1;
			margin: 0 auto;
			button {
				width: 48px;
				height: 48px;
				border-radius: 50%;
				border: 1px solid $white;
				i {
					color: $white;
					font-size: 18px;
				}
				&:hover {
					background: $theme-color;
					border-color: $theme-color;
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		.testi-thumb {
			display: none;
		}
		.testimonial-items1 {
			.quote1 {
				margin-top: 0 !important;
			}
		}
	}
	@include breakpoint(max-sm) {
		.testi-thumb {
			display: none;
		}
		.testimonial-items1 {
			.quote1 {
				width: 24px !important;
				height: 24px !important;
				margin-top: 0 !important;
			}
			p {
				font-size: 16px !important;
			}
		}
	}
}
//Testimonial Section2

//Testimonial Section3
.testimonial-section3 {
	background: url(../../assets/img/testimonial/testimonial-bg3.jpg) no-repeat
		center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 200px 0;
	position: relative;
	.testimonial-items1 {
		max-width: 901px;
		margin: 0 auto;
		h3 {
			font-size: 36px;
			font-weight: 400;
			line-height: 132%;
		}
		&::before {
			display: none;
		}
	}
	.quotes {
		position: absolute;
		top: 40%;
	}
	.quotes-right {
		position: absolute;
		right: 0;
		top: 40%;
	}
	.testimonial-btngrap {
		button {
			margin-right: 5px;
			margin-left: 5px;
			border-color: $white;
			i {
				color: $white;
			}
			&:hover {
				border-color: $theme-color;
				i {
					color: $black;
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 120px 0;
	}
	@include breakpoint(max-xl) {
		padding: 90px 0;
	}
	@include breakpoint(max-lg) {
		padding: 90px 0;
		.testimonial-items1 {
			max-width: 901px;
			margin: 0 auto;
			h3 {
				font-size: 26px;
				font-weight: 400;
				line-height: 132%;
			}
		}
	}
	@include breakpoint(max-xs) {
		padding: 80px 0;
		.testimonial-items1 {
			max-width: 901px;
			margin: 0 auto;
			h3 {
				font-size: 22px;
				font-weight: 400;
				line-height: 132%;
			}
		}
	}
}
//Testimonial Section3
